/* Modular Scale
1em @ 1.5

656.841em
437.894em
291.929em
194.62em
129.746em
86.498em
57.665em
38.443em
25.629em
17.086em
11.391em
7.594em
5.063em
3.375em
2.25em
1.5em
1em
*/

colorMain        = #f25e5c
colorMainCool    = #4bb4d9
colorLight       = #fff
colorText        = #222224
colorDark        = #2a2a2a
colorBgr         = #fcfcfc
colorMeta        = #ccd1d1
colorBorder      = #e7e9e9

/*************************************************
 * TYPOGRAPHY SETTINGS
 *************************************************/
baseFontSizePx = 16
baseFontSize   = (baseFontSizePx/16*100)%
baseLeading    = 1.5

tk1            = "europa"
tk2            = "freight-text-pro"
tk3            = "Inconsolata"

fontSans       = tk1, Helvetica, Arial, sans-serif
fontSerif      = tk2, Georgia, serif
fontMeta       = tk3, "Panic Sans", Consolas, "Andale Mono", "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, "Courier New", Courier, monospace

fontHeading    = fontSans
fontText       = fontSerif
fontTextOT     = "liga", "frac", "onum",, "salt",
fontHeadingOT  = "liga", "calt", "dlig", "frac", "ordn"


/*************************************************
* GRID SETTING
*************************************************/
baseFontSize   = (baseFontSizePx/16*100)%
numColMax      = 12
numCol         = 1..numColMax
colGutter      = 5%
widthContainer = (1024/baseFontSizePx)em
