
/* line 166 : /Users/constantx/projects/sensical/sensical-co/stylus/main.styl */

/* line 1 : /Users/constantx/projects/sensical/sensical-co/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 286 : /Users/constantx/projects/sensical/sensical-co/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 13 : /Users/constantx/projects/sensical/sensical-co/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/index.styl */

/* line 13 : /Users/constantx/projects/sensical/sensical-co/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/index.styl */

/* line 1 : /Users/constantx/projects/sensical/sensical-co/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/border.styl */

/* line 10 : /Users/constantx/projects/sensical/sensical-co/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/border.styl */

/* line 1 : /Users/constantx/projects/sensical/sensical-co/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/clearfix.styl */

/* line 28 : /Users/constantx/projects/sensical/sensical-co/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/clearfix.styl */

/* line 1 : /Users/constantx/projects/sensical/sensical-co/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/color-image.styl */

/* line 4 : /Users/constantx/projects/sensical/sensical-co/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/color-image.styl */

/* line 1 : /Users/constantx/projects/sensical/sensical-co/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/flex.styl */

/* line 196 : /Users/constantx/projects/sensical/sensical-co/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/flex.styl */

/* line 90 : /Users/constantx/projects/sensical/sensical-co/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/gradients.styl */

/* line 90 : /Users/constantx/projects/sensical/sensical-co/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/gradients.styl */

/* line 1 : /Users/constantx/projects/sensical/sensical-co/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/config.styl */

/* line 11 : /Users/constantx/projects/sensical/sensical-co/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/config.styl */

/* line 1 : /Users/constantx/projects/sensical/sensical-co/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/iconic.styl */

/* line 7 : /Users/constantx/projects/sensical/sensical-co/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/iconic.styl */

/* line 1 : /Users/constantx/projects/sensical/sensical-co/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/image.styl */

/* line 25 : /Users/constantx/projects/sensical/sensical-co/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/image.styl */

/* line 1 : /Users/constantx/projects/sensical/sensical-co/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/overflow.styl */

/* line 20 : /Users/constantx/projects/sensical/sensical-co/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/overflow.styl */

/* line 3 : /Users/constantx/projects/sensical/sensical-co/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/positions.styl */

/* line 66 : /Users/constantx/projects/sensical/sensical-co/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/positions.styl */

/* line 3 : /Users/constantx/projects/sensical/sensical-co/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/reset.styl */

/* line 78 : /Users/constantx/projects/sensical/sensical-co/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/reset.styl */

/* line 5 : /Users/constantx/projects/sensical/sensical-co/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/index.styl */

/* line 5 : /Users/constantx/projects/sensical/sensical-co/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/index.styl */

/* line 1 : /Users/constantx/projects/sensical/sensical-co/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/aliases.styl */

/* line 12 : /Users/constantx/projects/sensical/sensical-co/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/aliases.styl */

/* line 1 : /Users/constantx/projects/sensical/sensical-co/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 9 : /Users/constantx/projects/sensical/sensical-co/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 1 : /Users/constantx/projects/sensical/sensical-co/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 8 : /Users/constantx/projects/sensical/sensical-co/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 1 : /Users/constantx/projects/sensical/sensical-co/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/replace-text.styl */

/* line 9 : /Users/constantx/projects/sensical/sensical-co/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/replace-text.styl */

/* line 1 : /Users/constantx/projects/sensical/sensical-co/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/shadow-stroke.styl */

/* line 2 : /Users/constantx/projects/sensical/sensical-co/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/shadow-stroke.styl */

/* line 541 : /Users/constantx/projects/sensical/sensical-co/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/vendor.styl */

/* line 11 : /Users/constantx/projects/sensical/sensical-co/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/vendor.styl */

/* line 1 : /Users/constantx/projects/sensical/sensical-co/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/config.styl */

/* line 577 : /Users/constantx/projects/sensical/sensical-co/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/config.styl */

/* line 1 : /Users/constantx/projects/sensical/sensical-co/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/size.styl */

/* line 28 : /Users/constantx/projects/sensical/sensical-co/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/size.styl */

/* line 1 : /Users/constantx/projects/sensical/sensical-co/stylus/var.styl */

/* line 60 : /Users/constantx/projects/sensical/sensical-co/stylus/var.styl */

/* line 3 : /Users/constantx/projects/sensical/sensical-co/stylus/base/index.styl */

/* line 3 : /Users/constantx/projects/sensical/sensical-co/stylus/base/index.styl */

/* line 2 : /Users/constantx/projects/sensical/sensical-co/stylus/base/reset.styl */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 37 : /Users/constantx/projects/sensical/sensical-co/stylus/base/reset.styl */

/* line 5 : /Users/constantx/projects/sensical/sensical-co/stylus/base/typography.styl */

/* line 23 : /Users/constantx/projects/sensical/sensical-co/stylus/base/typography.styl */
.has-shadow {
  text-shadow: 0 0.1em 0.1em rgba(0,0,0,0.8);
}

/* line 29 : /Users/constantx/projects/sensical/sensical-co/stylus/base/typography.styl */
html {
  font-size: 16px;
}

/* line 32 : /Users/constantx/projects/sensical/sensical-co/stylus/base/typography.styl */
body {
  font-family: "freight-text-pro", Georgia, serif;
  font-size: 100%;
  line-height: 1.5;
  font-variant-ligatures: common-ligatures;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-font-feature-settings: "liga", "calt", "dlig", "ordn", "ss##";
  -ms-font-feature-settings: "liga", "calt", "dlig", "ordn", "ss##";
  -o-font-feature-settings: "liga", "calt", "dlig", "ordn", "ss##";
  -webkit-font-feature-settings: "liga", "calt", "dlig", "ordn", "ss##";
  font-feature-settings: "liga", "calt", "dlig", "ordn", "ss##";
}
@media only screen and (min-width: 769px) {

/* line 40 : /Users/constantx/projects/sensical/sensical-co/stylus/base/typography.styl */
  body {
    font-size: 112.5%;
  }
}
@media only screen and (min-width: 1024px) {

/* line 42 : /Users/constantx/projects/sensical/sensical-co/stylus/base/typography.styl */
  body {
    font-size: 125%;
  }
}

/* line 45 : /Users/constantx/projects/sensical/sensical-co/stylus/base/typography.styl */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "europa", Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin: 0;
  -moz-font-feature-settings: "liga", "calt", "dlig", "frac", "ordn";
  -ms-font-feature-settings: "liga", "calt", "dlig", "frac", "ordn";
  -o-font-feature-settings: "liga", "calt", "dlig", "frac", "ordn";
  -webkit-font-feature-settings: "liga", "calt", "dlig", "frac", "ordn";
  font-feature-settings: "liga", "calt", "dlig", "frac", "ordn";
}

/* line 51 : /Users/constantx/projects/sensical/sensical-co/stylus/base/typography.styl */
h1.centered,
h2.centered,
h3.centered,
h4.centered,
h5.centered,
h6.centered {
  text-align: center;
}

/* line 54 : /Users/constantx/projects/sensical/sensical-co/stylus/base/typography.styl */
h1 {
  font-size: 3.51em;
  line-height: 1.068376068376068;
}

/* line 56 : /Users/constantx/projects/sensical/sensical-co/stylus/base/typography.styl */
h2 {
  font-size: 3.37em;
  line-height: 1.112759643916914;
}

/* line 58 : /Users/constantx/projects/sensical/sensical-co/stylus/base/typography.styl */
h3 {
  font-size: 2.25em;
  line-height: 1;
}

/* line 60 : /Users/constantx/projects/sensical/sensical-co/stylus/base/typography.styl */
h4 {
  font-size: 1.5em;
  line-height: 1;
}

/* line 62 : /Users/constantx/projects/sensical/sensical-co/stylus/base/typography.styl */
h5 {
  font-size: 1.1em;
  line-height: 1.363636363636364;
}

/* line 64 : /Users/constantx/projects/sensical/sensical-co/stylus/base/typography.styl */
h6 {
  font-size: 1em;
  line-height: 1.5;
}

/* line 67 : /Users/constantx/projects/sensical/sensical-co/stylus/base/typography.styl */
p {
  text-rendering: optimizeLegibility;
  margin-bottom: 1em;
}

/* line 71 : /Users/constantx/projects/sensical/sensical-co/stylus/base/typography.styl */
a {
  text-decoration: none;
}

/* line 74 : /Users/constantx/projects/sensical/sensical-co/stylus/base/typography.styl */

/* line 75 : /Users/constantx/projects/sensical/sensical-co/stylus/base/typography.styl */
p a,
ul a,
ol a {
  color: inherit;
  border-bottom: solid 1px #f25e5c;
  -webkit-transition: border-color 0.2s ease-in;
  -moz-transition: border-color 0.2s ease-in;
  -o-transition: border-color 0.2s ease-in;
  -ms-transition: border-color 0.2s ease-in;
  transition: border-color 0.2s ease-in;
}

/* line 79 : /Users/constantx/projects/sensical/sensical-co/stylus/base/typography.styl */
p a:hover,
ul a:hover,
ol a:hover {
  border-bottom-width: 2px;
}

/* line 81 : /Users/constantx/projects/sensical/sensical-co/stylus/base/typography.styl */
p em,
ul em,
ol em {
  font-style: italic;
}

/* line 83 : /Users/constantx/projects/sensical/sensical-co/stylus/base/typography.styl */
p strong,
ul strong,
ol strong {
  font-weight: bold;
}

/* line 86 : /Users/constantx/projects/sensical/sensical-co/stylus/base/typography.styl */
.heading,
strong {
  font-weight: bold;
}

/* line 90 : /Users/constantx/projects/sensical/sensical-co/stylus/base/typography.styl */
blockquote {
  margin-left: 0;
  margin-right: 0;
  position: relative;
}

/* line 96 : /Users/constantx/projects/sensical/sensical-co/stylus/base/typography.styl */
.sc,
.subtagline {
  font-feature-settings: "smcp";
  font-variant-caps: small-caps;
  font-variant: small-caps;
}

/* line 99 : /Users/constantx/projects/sensical/sensical-co/stylus/base/typography.styl */

/* line 99 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */

/* line 1 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */

/* line 2 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
.clearfix:before,
.container:before,
.row:before,
.clearfix:after,
.container:after,
.row:after {
  content: " ";
  display: table;
}

/* line 6 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
.clearfix:after,
.container:after,
.row:after {
  clear: both;
}

/* line 28 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
.col-1 {
  width: 8.333333333333334%;
}

/* line 32 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
.offset-1 {
  margin-left: 8.333333333333334%;
}

/* line 36 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
.pull-1 {
  margin-left: -8.333333333333334%;
}

/* line 28 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
.col-2 {
  width: 16.666666666666668%;
}

/* line 32 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
.offset-2 {
  margin-left: 16.666666666666668%;
}

/* line 36 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
.pull-2 {
  margin-left: -16.666666666666668%;
}

/* line 28 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
.col-3 {
  width: 25%;
}

/* line 32 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
.offset-3 {
  margin-left: 25%;
}

/* line 36 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
.pull-3 {
  margin-left: -25%;
}

/* line 28 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
.col-4 {
  width: 33.333333333333336%;
}

/* line 32 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
.offset-4 {
  margin-left: 33.333333333333336%;
}

/* line 36 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
.pull-4 {
  margin-left: -33.333333333333336%;
}

/* line 28 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
.col-5 {
  width: 41.66666666666667%;
}

/* line 32 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
.offset-5 {
  margin-left: 41.66666666666667%;
}

/* line 36 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
.pull-5 {
  margin-left: -41.66666666666667%;
}

/* line 28 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
.col-6 {
  width: 50%;
}

/* line 32 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
.offset-6 {
  margin-left: 50%;
}

/* line 36 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
.pull-6 {
  margin-left: -50%;
}

/* line 28 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
.col-7 {
  width: 58.333333333333336%;
}

/* line 32 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
.offset-7 {
  margin-left: 58.333333333333336%;
}

/* line 36 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
.pull-7 {
  margin-left: -58.333333333333336%;
}

/* line 28 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
.col-8 {
  width: 66.66666666666667%;
}

/* line 32 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
.offset-8 {
  margin-left: 66.66666666666667%;
}

/* line 36 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
.pull-8 {
  margin-left: -66.66666666666667%;
}

/* line 28 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
.col-9 {
  width: 75%;
}

/* line 32 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
.offset-9 {
  margin-left: 75%;
}

/* line 36 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
.pull-9 {
  margin-left: -75%;
}

/* line 28 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
.col-10 {
  width: 83.33333333333334%;
}

/* line 32 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
.offset-10 {
  margin-left: 83.33333333333334%;
}

/* line 36 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
.pull-10 {
  margin-left: -83.33333333333334%;
}

/* line 28 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
.col-11 {
  width: 91.66666666666667%;
}

/* line 32 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
.offset-11 {
  margin-left: 91.66666666666667%;
}

/* line 36 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
.pull-11 {
  margin-left: -91.66666666666667%;
}

/* line 28 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
.col-12,
.container.centered {
  width: 100%;
}

/* line 32 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
.offset-12 {
  margin-left: 100%;
}

/* line 36 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
.pull-12 {
  margin-left: -100%;
}
@media only screen and (max-width: 767px) {

/* line 45 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
  .col {
    float: none;
    width: 100% !important;
  }

/* line 51 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
  .col-m-1 {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    min-height: 1px;
    width: 8.333333333333334% !important;
  }

/* line 56 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
  .offset-1,
  .pull-1 {
    margin-left: 0;
  }

/* line 51 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
  .col-m-2 {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    min-height: 1px;
    width: 16.666666666666668% !important;
  }

/* line 56 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
  .offset-2,
  .pull-2 {
    margin-left: 0;
  }

/* line 51 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
  .col-m-3 {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    min-height: 1px;
    width: 25% !important;
  }

/* line 56 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
  .offset-3,
  .pull-3 {
    margin-left: 0;
  }

/* line 51 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
  .col-m-4 {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    min-height: 1px;
    width: 33.333333333333336% !important;
  }

/* line 56 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
  .offset-4,
  .pull-4 {
    margin-left: 0;
  }

/* line 51 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
  .col-m-5 {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    min-height: 1px;
    width: 41.66666666666667% !important;
  }

/* line 56 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
  .offset-5,
  .pull-5 {
    margin-left: 0;
  }

/* line 51 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
  .col-m-6 {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    min-height: 1px;
    width: 50% !important;
  }

/* line 56 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
  .offset-6,
  .pull-6 {
    margin-left: 0;
  }

/* line 51 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
  .col-m-7 {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    min-height: 1px;
    width: 58.333333333333336% !important;
  }

/* line 56 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
  .offset-7,
  .pull-7 {
    margin-left: 0;
  }

/* line 51 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
  .col-m-8 {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    min-height: 1px;
    width: 66.66666666666667% !important;
  }

/* line 56 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
  .offset-8,
  .pull-8 {
    margin-left: 0;
  }

/* line 51 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
  .col-m-9 {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    min-height: 1px;
    width: 75% !important;
  }

/* line 56 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
  .offset-9,
  .pull-9 {
    margin-left: 0;
  }

/* line 51 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
  .col-m-10 {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    min-height: 1px;
    width: 83.33333333333334% !important;
  }

/* line 56 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
  .offset-10,
  .pull-10 {
    margin-left: 0;
  }

/* line 51 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
  .col-m-11 {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    min-height: 1px;
    width: 91.66666666666667% !important;
  }

/* line 56 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
  .offset-11,
  .pull-11 {
    margin-left: 0;
  }

/* line 51 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
  .col-m-12 {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    min-height: 1px;
    width: 100% !important;
  }

/* line 56 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
  .offset-12,
  .pull-12 {
    margin-left: 0;
  }
}

/* line 64 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
.container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 90%;
  max-width: 64em;
  margin-left: auto;
  margin-right: auto;
}

/* line 73 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */

/* line 76 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
.row {
  margin-left: -5%;
  margin-right: -5%;
}

/* line 81 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
.col {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
  min-height: 1px;
}

/* line 83 : /Users/constantx/projects/sensical/sensical-co/stylus/base/grid.styl */
.col.centered {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

/* line 7 : /Users/constantx/projects/sensical/sensical-co/stylus/main.styl */
html,
body {
  height: 100%;
}

/* line 10 : /Users/constantx/projects/sensical/sensical-co/stylus/main.styl */
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  color: #222224;
/*
  &:after
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: rgba(0,0,0,0.85)
  */
}

/* line 37 : /Users/constantx/projects/sensical/sensical-co/stylus/main.styl */
.cover,
.poster {
  width: 100%;
  height: auto;
}

/* line 41 : /Users/constantx/projects/sensical/sensical-co/stylus/main.styl */
.poster {
  display: block;
}

/* line 45 : /Users/constantx/projects/sensical/sensical-co/stylus/main.styl */
.circular {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 48 : /Users/constantx/projects/sensical/sensical-co/stylus/main.styl */
.centered-content {
  text-align: center;
}

/* line 51 : /Users/constantx/projects/sensical/sensical-co/stylus/main.styl */
.centered-block {
  margin-left: auto;
  margin-right: auto;
}

/* line 55 : /Users/constantx/projects/sensical/sensical-co/stylus/main.styl */
.amp {
  font-style: italic;
  font-family: "Baskerville", "freight-text-pro", Georgia, serif;
  font-weight: normal;
}

/* line 61 : /Users/constantx/projects/sensical/sensical-co/stylus/main.styl */

/* line 62 : /Users/constantx/projects/sensical/sensical-co/stylus/main.styl */
.wf-loading h1,
.wf-loading h2,
.wf-loading h3,
.wf-loading h5,
.wf-loading h6,
.wf-loading p,
.wf-loading a {
  visibility: hidden;
}

/* line 65 : /Users/constantx/projects/sensical/sensical-co/stylus/main.styl */

/* line 67 : /Users/constantx/projects/sensical/sensical-co/stylus/main.styl */
.wf-inactive h1,
.wf-active h1,
.wf-inactive h2,
.wf-active h2,
.wf-inactive h3,
.wf-active h3,
.wf-inactive h5,
.wf-active h5,
.wf-inactive h6,
.wf-active h6,
.wf-inactive p,
.wf-active p,
.wf-inactive a,
.wf-active a {
  visibility: visible;
}

/* line 73 : /Users/constantx/projects/sensical/sensical-co/stylus/main.styl */
.tagline {
  font-size: 2.25em;
  line-height: 1;
  padding: 1em 0 0;
  text-align: center;
  font-weight: bold;
}
@media only screen and (min-width: 375px) {

/* line 79 : /Users/constantx/projects/sensical/sensical-co/stylus/main.styl */
  .tagline {
    font-size: 3em;
    line-height: 1;
  }
}
@media only screen and (min-width: 768px) {

/* line 81 : /Users/constantx/projects/sensical/sensical-co/stylus/main.styl */
  .tagline {
    font-size: 5.063em;
    line-height: 1.036934623740865;
  }
}
@media only screen and (min-width: 1440px) {

/* line 83 : /Users/constantx/projects/sensical/sensical-co/stylus/main.styl */
  .tagline {
    font-size: 7.594em;
    line-height: 1.086383987358441;
  }
}

/* line 86 : /Users/constantx/projects/sensical/sensical-co/stylus/main.styl */
.subtagline {
  font-size: 1em;
  line-height: 1.5;
  padding: 1em 0;
  text-align: center;
  font-family: "freight-text-pro", Georgia, serif;
  font-weight: normal;
  overflow: hidden;
  color: #8e8e94;
}
@media only screen and (min-width: 768px) {

/* line 95 : /Users/constantx/projects/sensical/sensical-co/stylus/main.styl */
  .subtagline {
    font-size: 1.5em;
    line-height: 1;
  }
}

/* line 98 : /Users/constantx/projects/sensical/sensical-co/stylus/main.styl */
.nav-items {
  list-style: none;
  text-align: center;
}

/* line 102 : /Users/constantx/projects/sensical/sensical-co/stylus/main.styl */
.nav-item {
  display: inline-block;
  margin: 0 0.5em;
}
@media only screen and (min-width: 769px) {

/* line 105 : /Users/constantx/projects/sensical/sensical-co/stylus/main.styl */
  .nav-item {
    margin: 0 1em;
  }
}

/* line 108 : /Users/constantx/projects/sensical/sensical-co/stylus/main.styl */
.item-link {
  border-bottom: none;
}

/* line 110 : /Users/constantx/projects/sensical/sensical-co/stylus/main.styl */
.item-link:hover {
  color: #f25e5c;
  border-bottom: solid 5px #f25e5c;
  margin-bottom: -5px;
}

/* line 115 : /Users/constantx/projects/sensical/sensical-co/stylus/main.styl */

/* line 116 : /Users/constantx/projects/sensical/sensical-co/stylus/main.styl */
.current .item-link {
  border-bottom: solid 5px #f25e5c;
  margin-bottom: -5px;
}
@media only screen and (min-width: 769px) {

/* line 120 : /Users/constantx/projects/sensical/sensical-co/stylus/main.styl */
  .current {
    margin: 0 1em;
    letter-spacing: 0.05em;
  }
}

/* line 125 : /Users/constantx/projects/sensical/sensical-co/stylus/main.styl */
.main-header,
.main-content,
.main-footer {
  position: relative;
  z-index: 2;
}

/* line 131 : /Users/constantx/projects/sensical/sensical-co/stylus/main.styl */
.main-header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 1em;
  background: #fcfcfc;
}

/* line 143 : /Users/constantx/projects/sensical/sensical-co/stylus/main.styl */
.main-content {
  height: 100%;
}

/* line 150 : /Users/constantx/projects/sensical/sensical-co/stylus/main.styl */
.section-welcome {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 4em;
  height: 100%;
}

/* line 155 : /Users/constantx/projects/sensical/sensical-co/stylus/main.styl */
.section-welcome .container {
  margin-top: -4em;
  height: auto !important;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
